<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Signup</title>
    <style>
        .emailError,.passwordError {color:red }
    </style>
</head>
<body>
    <nav>
        <ul>
            <li> <a href="/register">REGISTER</a></li>
            <li> <a href="/login">LOGIN</a></li>
            <li> <a href="/dashBoard">HOME PAGE</a></li>
        </ul>
    </nav>
    <form>
        <div>
            <label for ="email">Email:</label>
        <input type="email" required id="email" name="email"/> <br>
        <div class="emailError"></div>
        </div>
        <br>
        <div>
            <label for ="password">Password:</label>
            <input type="password" name="password" required id="password"/><br>
            <div class="passwordError"></div>
        </div>
        <br>
        <div>
            <button type="submit">SIGN UP</button>  
        </div>
     </form>

     <script>
        const form = document.querySelector('form')
        const emailError= document.querySelector('.emailError')
        const passwordError= document.querySelector('.passwordError')

        form.addEventListener('submit', async(e) => {
            e.preventDefault();

            const email = form.email.value
            const password = form.password.value

            const res= await fetch ('/register', {
                method: 'POST',
                headers: { 'Content-Type': "application/json"},
                body: JSON.stringify({ email, password}),
            });

            const result = await res.json();
            if (result.success) {
                window.location.assign('/login');
            } else{
                emailError.textContent= result.errors.email;
                passwordError.textContent= result.errors.password;
            }

        })

     </script>
</body>
</html>